#parte1{
    
    background-image: url(../imagens/2000_5cddb88355a32.jpg);
    opacity: 0.9;
    position: relative;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    
}

#parte5{
    background: rgb(234, 243, 252);
}

footer{
    background: white;
}

footer, p{
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
}
